body {
  background-color: #ffd461;
}

body.blinking {
  animation: blinker 1s ease-out infinite;
}

@keyframes blinker {
  0% { background-color: #ffd461 }
  50% { background-color: #ff5f91 }
  100% { background-color: #ffd461 }
}

body.warmblue {
  background-color: #20238b;
  transition: background-color 2s ease-in;
}

#container {
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.row {
  text-align: center;
  margin: auto;
}

#btn-1 {
  border-radius: 120px;
  width: 4em;
  padding: 20px;
  height: 1.6em;

  font-family: "Arial Unicode MS", sans-serif;
  font-size: 9em;
  color: #20238b;
  background-color: #eeeed6;
}

#btn-1:hover {
  cursor: pointer;
}

#btn-1:active {
  background-color: #eee39b;
  cursor: pointer;
}

#btn-1.being-touched {
  background-color: #eee39b;
}